#                      Tuple

#### What is Tuple?
##### Tuple is a Python data structure which are ordered and immutable.Python tuples are written within parentheses. Tuples are immutable, and usually contain a heterogeneous sequence of elements that are accessed via unpacking or indexing.

### Tuple creation process

##### 1. To create a tuple with a single item, we have to add a trailing comma

In [7]:

#Output is a string.So,if we create tuple with one item, we have to add  comma , at the end.
t2=('blue')
print (t2) #Output: blue
print (type(t2))#Output:<class 'str'>


#If we create tuple with one item , we have to add comma at the end.

a = "data",
print(a)
print(type(a))

blue
<class 'str'>
('data',)
<class 'tuple'>

##### 2. Using tuple constructor:

##### i. tuple()

In [8]:
t=tuple(('red','blue','green'))
print (t) #Output: ('red', 'blue', 'green')

t1=tuple((1,2,3))
print (t1) #Output:(1, 2, 3)

t2=tuple(('red','blue','green',1,2,3))
print (t2) #Output: ('red', 'blue', 'green', 1, 2, 3)

('red', 'blue', 'green')
(1, 2, 3)
('red', 'blue', 'green', 1, 2, 3)

##### ii. tuple(iterable)

iterable can be a sequence, a container that supports iteration, or an iterator object.

##### a. iterable can be sequence like list, string.

In [9]:
#iterable is given as 'string'
t=tuple("hello")
print (t)#Output:('h', 'e', 'l', 'l', 'o')

#iterable is given as list
t1=tuple([1,2,3])
print (t1)#Output:(1, 2, 3)

('h', 'e', 'l', 'l', 'o')
(1, 2, 3)

##### b. iterable can be containers that support iteration like a set,dict

In [10]:
#iterable is given as set
t2=tuple({1,2,3,4})
print (t2)#Output:(1, 2, 3, 4)

#iterable is given as dict
t3=tuple({'a':1,'b':2})
#dict keys are converted to tuple
print (t3)#Output:('a', 'b')

(1, 2, 3, 4)
('a', 'b')

##### c. iterable can contain an iterator object also.

In [11]:
t5=reversed("hello")
#returns an iterator object
print (t5)#Output:<reversed object at 0x0124E610>


#iterator object is given as iterable
t6=tuple(t5)
print (t6)#Output:('o', 'l', 'l', 'e', 'h')

<reversed object at 0x106ac0bb0>
('o', 'l', 'l', 'e', 'h')

##### 3. Tuple can contain different data types also. It is written within parentheses.

In [12]:
t=('red','blue','green')
print (t) #Output: ('red', 'blue', 'green')

t1=(1,2,3)
print (t1) #Output:(1, 2, 3)

t2=('red','blue','green',1,2,3)
print (t2) #Output: ('red', 'blue', 'green', 1, 2, 3)

t3=('red','blue','green',[1,2,3])
print (t3) #Output: ('red', 'blue', 'green', [1, 2, 3])

('red', 'blue', 'green')
(1, 2, 3)
('red', 'blue', 'green', 1, 2, 3)
('red', 'blue', 'green', [1, 2, 3])

##### 4. Creating an empty tuple.

In [ ]:
t=()
print (t) #Output: ()

t1=tuple()
print (t1) #Output: ()

##### 6. Creating a nested tuple

In [13]:
t1=(1,2,3)
t2=t1,4,5,6
print (t2)#Output:((1, 2, 3), 4, 5, 6)

((1, 2, 3), 4, 5, 6)

##### Tuples are immutable

In [14]:
t1=(1,2,3)
t1[3]=5
#Output:    
# t1[3]=5
#TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

##### Tuples Are Sequences
##### Since tuples are sequences, just like strings, they also have a length that you can access using len():

In [15]:
empty_tuple = ()
print(len(empty_tuple))  # OUTPUT: 0

tup = ("hello", "there")
print(len(tup))  # OUTPUT: 2

0
2

##### Because tuples are sequences, you can also iterate over their elements using loops.

In [21]:
for element in (1, 42, "hello!"):
    print(element)

1
42
hello!

##### Tuple Elements Have An Index

In [18]:
tup = (1, 42, "hello!")
print(tup[1])  # OUTPUT: 42

42

##### Keep in mind that neither tup nor tup2 has changed at all. They are immutable and can't change, but you can use them to create new tuple elements. Like with strings, you can also overwrite the variable reference to an existing tuple with a new tuple object

In [1]:
tup = (1, 42)
tup2 = (123, 999)
tup = tup + tup2
print(tup)  # OUTPUT: (1, 42, 123, 999)

(1, 42, 123, 999)